<div class="container" align="center">
<h1>Doładuj sie</h1>
  <br>

<hr>
<div class="top-mg-50">
  <h3>Stan konta: <%= current_user.founds.to_d %> PLN </h3>
</div>
  <br>

  <hr>
<div class="form-wrapper">
  <%= form_tag('/charge', method: 'post') do %>
    <%= label_tag "Kwota doładowania" %><br>
    <%= text_field_tag :amount %>

    <div class="actions ">
      <%= submit_tag "Zatwierdź", class: "btn btn-success" %>
    </div>
  <% end %>
</div>
</div>
