<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row field">
  <div class="col-md-2">
    <%= form.label "Artysta" %>
  </div>
  <div class="col-md-10">
    <%= form.text_field :artist, id: :event_artist, class: "w-100" %>
  </div>
  </div>

  <div class="row field">
    <div class="col-md-2">
      <%= form.label "Opis" %>
    </div>
    <div class="col-md-10">
      <%= form.text_field :description, id: :event_description,  class: "w-100" %>
    </div>
  </div>

  <div class="row field">
    <div class="col-md-2">
      <%= form.label "Cena od" %>
    </div>
    <div class="col-md-10">
      <%= form.text_field :price_low, id: :event_price_low,  class: "w-100" %>
    </div>
  </div>


  <div class="row field">
    <div class="col-md-2">
      <%= form.label "Cena do" %>
    </div>
    <div class="col-md-10">
      <%= form.text_field :price_high, id: :event_price_high,  class: "w-100" %>
    </div>
  </div>

  <div class="row field">
    <div class="col-md-2">
      <%= form.label "Data wydarzenia" %>
    </div>
    <div class="col-md-10">
      <%= form.text_field :event_date, id: :event_event_date %>
    </div>
  </div>

  <div class="row field">
    <div class="col-md-2">
      <%= form.label "Liczba rzędów" %>
    </div>
    <div class="col-md-10">
      <%= form.text_field :seats_rows, id: :event_seats_rows %>
    </div>
  </div>

  <div class="row field">
    <div class="col-md-2">
      <%= form.label "Liczba siedzeń w rzędzie" %>
    </div>
    <div class="col-md-10">
      <%= form.text_field :seats_columns, id: :event_seats_columns %>
    </div>
  </div>

  <div class="row field">
    <div class="col-md-2">
      <%= form.label "Tylko dla dorosłych?" %>
    </div>
    <div class="col-md-10">
      <%= form.check_box :isForAdults, id: :event_isForAdults %>
    </div>
  </div>


  <div class="actions float-right">
    <%= form.submit "Utwórz wydarzenie", class: "btn btn-success" %>
  </div>
<% end %>
