<h1>Bilety</h1>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Seat id seq</th>
    <th>Address</th>
    <th>Price</th>
    <th>Email address</th>
    <th>Phone</th>
    <th>Event</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% tickets.each do |ticket| %>
    <tr>
      <td><%= ticket.name %></td>
      <td><%= ticket.seat_id_seq %></td>
      <td><%= ticket.address %></td>
      <td><%= ticket.price %></td>
      <td><%= ticket.email_address %></td>
      <td><%= ticket.phone %></td>
      <td><%= ticket.event_id %></td>
      <td><%= link_to 'Pokaż', ticket %></td>
      <td><%= link_to 'Edytuj', edit_ticket_path(ticket) %></td>
      <td><%= link_to 'Usuń', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>