<ul>
  <% for event in @events %>
    <div class="list-group">
      <a href="/events/<%=event.id %>" class="list-group-item list-group-item-info">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="text-muted"><%=event.artist %></h5>
          <small class="text-muted"><%=event.event_date %></small>
        </div>
        <p class="text-muted"><%=event.description %></p>
      </a>
      <hr>
    </div>
  <% end %>
</ul>
<br>
<% if current_user&.isAdmin? %>
  <%= link_to 'Nowe wydarzenie', new_event_path, {:class => "btn btn-dark float-right"} %>
<% end %>