<p id="message"><%= flash[:message] %></p>

<h2 class="mb-5"><%= @event.artist %></h2>

<div class="col-md-10">

  <h6>
    <%= @event.description %>
  </h6>

  <hr>

  <h6>
    <strong>Bilety od </strong> <%= @event.price_low %> <strong> do </strong>     <%= @event.price_high %>
  </h6>

  <h6>
    <strong>Ilość miejsc:</strong>
    <%= @event.seats_rows * @event.seats_columns %>
  </h6>

  <h6>
    <strong>Data:</strong>
    <%= @event.event_date %>
  </h6>

  <h6>
    <% if @event.isForAdults? %>
      <strong>TYLKO DLA DOROSLYCH:</strong>
    <% else %>
      <strong>BRAK OGRANICZEŃ WIEKOWYCH:</strong>
    <% end %>
  </h6>
</div>

<hr>

<div class="text-center">
  <h2>Dostępne miejsca </h2>
</div>
<div class="top-mg-50">
  <% width = 100 / @event.seats_columns %>
  <% for i in 1..@event.seats_rows do %>
    <div class="row">
      <% for j in 1..@event.seats_columns do %>
        <% seat = get_seat_id(i, j) %>
        <% seat_price = @event.get_seat_price(i, j) %>
        <a
        class="text-white btn
          <%= @event.is_seat_available(seat) ? 'btn btn-success btn-sm seat_icon' : 'btn-danger btn-sm seat_icon' %>"
        style="padding: 15px 0; width : <%= width %>%;
            <% if j < @event.seats_columns %>
            border-right: 1px solid #fff;
            <% end %>
            <% if i < @event.seats_rows %>
            border-bottom: 1px solid #fff;
          <% end %>">

          <%= seat %> [ <%= seat_price.to_d %> PLN]
        </a>
      <% end %>
    </div>
  <% end %>
</div>

<% if user_signed_in? %>
  <div class="top-mg-50">
    <div class="row">
      <div class="offset-8 col-md-4">
        <button class="btn btn-warning w-100" id="buy_marked_tickets">Kup bilety</button>
      </div>
    </div>
  </div>
<% end %>

<br>

<% if current_user&.isAdmin? %>
  <%= render "tickets_list", tickets: @event.tickets %>
<% end %>

<% if user_signed_in? %>
  <div id="max-tickets" style="display: none">
    <%= 5 - get_current_user_tickets(@event.tickets).length %>
  </div>
  <div id="user-founds" style="display: none">
    <%= current_user.founds %>
  </div>
  <%= javascript_include_tag 'SeatsMap/seatsMaper', 'data-turbolinks-track': 'reload' %>
<% end %>

<%= link_to 'Powrót', events_path, :class => "btn btn-success" %>
<br>