<div class="container">
  <h2>Uzupełnij swoje dane </h2>
  <hr>
  <%= form_with(model: ticket, local: true) do |form| %>
    <% if ticket.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

        <ul>
          <% ticket.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-md-2">
        <%= form.label "Nazwa" %>
      </div>
      <div class="col-md-6">
        <%= form.text_field :name, id: :ticket_name, :class => "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= form.label "Adres" %>
      </div>
      <div class="col-md-6">
        <%= form.text_area :address, id: :ticket_address, :class => "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= form.label "Identyfikatory miejsc" %>
      </div>
      <div class="col-md-6">
        <%= form.text_field :seat_id_seq, id: :ticket_seat_id_seq, value: seats, :readonly => true, :class => "form-control" %>
      </div>
    </div>


    <div class="row">
      <div class="col-md-2">
        <%= form.label "Cena [zł]" %>
      </div>
      <div class="col-md-6">
        <%= form.text_field :price, id: :ticket_price, value: tickets_price, :readonly => true, :class => "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= form.label "Adres email" %>
      </div>
      <div class="col-md-6">
        <%= form.text_field :email_address, id: :ticket_email_address, :class => "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= form.label "Telefon" %>
      </div>
      <div class="col-md-6">
        <%= form.text_field :phone, id: :ticket_phone, :class => "form-control" %>
      </div>
    </div>

    <% if ticket.event_id? %>
      <%= form.hidden_field :event_id, id: :ticket_event_id, value: ticket.event_id %>
    <% end %>

    <div class="actions">
      <%= form.submit "Kup bilety", :class => "btn-lg btn-success" %>
    </div>
  <% end %>
</div>