<p id="notice"><%= notice %></p>

<h1>Bilety</h1>



<table class="table">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Identyfikator miejsca</th>
      <th>Adres</th>
      <th>Cena</th>
      <th>Email</th>
      <th>Numer telefonu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
    <% if ticket.user == current_user || current_user&.isAdmin %>
        <td><%= ticket.name %></td>
        <td><%= ticket.seat_id_seq %></td>
        <td><%= ticket.address %></td>
        <td><%= ticket.price %></td>
        <td><%= ticket.email_address %></td>
        <td><%= ticket.phone %></td>
        <td><%= link_to 'Pokaż', ticket %></td>
        <% if current_user&.isAdmin %>
          <td><%= link_to 'Edytuj', edit_ticket_path(ticket) %></td>
          <td><%= link_to 'Usuń', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
    <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>