<% seats = params[:seat_ids] %>
<% event_id = params[:event_id] %>
<% tickets_price = params[:tickets_price] %>
<% if user_signed_in? %>
  <%= render "new_ticket", ticket: Ticket.new( :event_id=>event_id), seats: seats, tickets_price: tickets_price%>
<% end %>
