<div class="container center" align="center">
  <hr>
  <h2>Zaloguj się</h2>
  <hr>
  <br>
  <br>
  <br>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control w-25"  %>
    </div>

    <div class="field">
      <%= f.label "Hasło" %><br/>
      <%= f.password_field :password, autocomplete: "off", :class => "form-control w-25" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label "Zapamiętaj mnie" %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Zaloguj się", :class => "btn-lg btn-success"%>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>