/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";

.form-control {
  border-radius: 0;
}

.btn {
  border-radius: 0;
}

.seat_icon {
   margin-bottom: 15px;
}

a, a:visited, a:hover {
  color: #2c7440;
}

.btn > a {
  color: #000;
}

.navbar-brand {
  font-size: 175%;
  font-weight: 700;
}

.nav-link {
  text-transform: uppercase;
}

.active {
  font-weight: bold;
}

.form-inline {
  margin-left: 1%;
}

.wrapper {
  margin-top: 125px;
}

.text-black, .text-black:hover, .text-black:visited {
  color: black;
}

.form-wrapper {
  margin-top: 75px;
}

.field {
  margin-top: 25px;
  margin-bottom: 25px;
}

.actions {
  margin-top: 50px;
}

.selected {
  background: #f39c12;
  border: 1px solid #f39c12;
}

.selected:hover {
  background: #f39c12;
  border: 1px solid #f39c12;
}

.buy-button {
  padding: 15px 0;
}

