<header>
  <nav class="navbar navbar-expand-lg bg-dark row fixed-top">
    <div class = "col-md-3 ">
      <a class="navbar-brand " href="/">
        <i class="fa fa-address-book-o"></i>
        Biletex
      </a>
    </div>
    <div class="col-md-5 offset-md-4">
      <ul class="navbar-nav float-right center ">
        <li class="nav-item ">
          <a class="nav-link" href="/events">Wydarzenia</a>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link" href="/tickets">Bilety</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/charge">Zasil konto [<%= current_user.founds %> PLN]</a>
          </li>
        <% end %>
        <hr>
        <% if user_signed_in? %>
          <li class="nav-item">
          <%= link_to "Wyloguj [" + current_user.email + "]", destroy_user_session_path, method: :delete, :class => 'nav-link'
          %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Zaloguj się", new_user_session_path, :class => 'nav-link' %>
          </li>
          <li class="nav-item">
          <%= link_to "Zarejestruj się", new_user_registration_path, :class => 'nav-link' %> <br>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>